@media screen and (min-width: 768px) {
  .teaser {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .teaser {
    grid-template-columns: 37.5% 62.5%;
  }
}

.teaserBg {
  @apply sm:before:block;
  @apply sm:content-["*"];
  @apply sm:before:absolute;
  @apply sm:before:top-[50%];
  @apply sm:before:left-0;
  @apply before:bg-white;
  @apply before:h-[100%];
  @apply before:w-[66.67%];
  @apply lg:before:w-[50%];
  @apply z-[1];
  @apply overflow-hidden;
}

.teaserImg {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.teaserText {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  @apply py-8 md:py-0;
}
