.slider {
  @apply sm:mb-8 sm:mx-24;
}

.thumbnailSlider {
  @apply px-12;
}

.thumbnailSlider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnailSlider :global(.splide__slide) {
  opacity: 0.6;
}

.thumbnailSlider :global(.splide__slide.is-active) {
  opacity: 1;
}

.thumbnailSlider :global(.splide__arrow) {
  @apply border border-solid border-primary sm:h-[3.75rem] sm:w-[3.75rem] sm:p-[0.625rem];
  background: transparent;
}

.thumbnailSlider :global(.splide__arrow) svg {
  fill: rgb(51 61 152);
}

.thumbnailSlider :global(.splide__arrow--prev) {
  @apply left-0;
}

.thumbnailSlider :global(.splide__arrow--next) {
  @apply right-0;
}
