.slider {
  @apply py-16 -mt-16;
}

.slider :global(.splide__slide) {
  position: relative;
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Ccircle cx='24' cy='24' r='23' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath d='m27.59,22.88c0,.26-.21.48-.48.48h-3.36v3.36c0,.26-.21.48-.48.48s-.48-.21-.48-.48v-3.36h-3.36c-.26,0-.48-.21-.48-.48s.21-.48.48-.48h3.36v-3.36c0-.26.21-.48.48-.48s.48.21.48.48v3.36h3.36c.26,0,.48.21.48.48Zm8.97,13.28c-.19.19-.49.19-.68,0l-5.5-5.5c-4.31,3.93-10.99,3.63-14.92-.68-3.93-4.31-3.63-10.99.68-14.92,4.31-3.93,10.99-3.63,14.92.68,3.68,4.03,3.68,10.21,0,14.24l5.5,5.5c.19.19.19.49,0,.68,0,0,0,0,0,0h0Zm-13.28-3.7c5.3,0,9.59-4.29,9.59-9.59s-4.29-9.59-9.59-9.59-9.59,4.29-9.59,9.59c0,5.29,4.3,9.58,9.59,9.59Z' fill='%23fff'/%3E%3C/svg%3E"), auto;
}

.slider :global(.splide__slide)::before {
  @apply absolute inset-0 bg-black opacity-0 z-10 transition-opacity duration-300;
  content: "";
}

.slider :global(.splide__slide):hover::before {
  opacity: 0.4;
}

.slider :global(.splide__arrow) {
  @apply bg-transparent border-current text-white border-solid hidden md:flex;
  border-width: 1px;
  @apply before:content-[""] before:bg-primary before:absolute before:w-16 before:h-16 before:z-[-1];
}

.slider :global(.splide__arrow:not([disabled])) {
  @apply transition-colors hover:bg-primary hover:text-gray;
}

.slider :global(.splide__arrow) svg {
  @apply fill-current;
}

.slider :global(.splide__arrow--prev) {
  @apply left-3;
}

.slider :global(.splide__arrow--next) {
  @apply right-3;
}

.slider :global(.splide__pagination__page) {
  @apply bg-primary;
  width: 10px;
  height: 10px;
  margin: 5px;
}

.slider :global(.splide__pagination__page.is-active) {
  @apply border-solid border-gray;
  transform: scale(1);
  border-width: 9px;
  width: 28px;
  height: 28px;
  box-shadow: 0 0 0 1px #939BE5;
}
