.slider {
  @apply px-24;
  @apply -mx-24;
}

.slider :global(.splide__arrow) {
  @apply border-solid border-primary;
  border-width: 1px;
  background: transparent;
}

.slider :global(.splide__arrow) svg {
  fill: rgb(51 61 152);
}
